.background__text1--line {
  border: 1px solid #FFFFFF;
  width: 317px;
  height: 0px;
  top: 330px;
  left: 360px;
}

.background__text1--astronavt {
  width: 626px;
  height: 625px;
}

.background {
  background-image: url("../background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background__text1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background__text1--text {
  display: flex;
  flex-direction: column;
}

.background__text1--text__txt1 {
  width: 290px;
  height: 33px;
  top: 313px;
  left: 1270px;
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 20%;
  color: #FFFFFF;
}

.background__text1--text__txt2 {
  width: 317px;
  height: 101px;
  top: 357px;
  left: 1243px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 104px;
  line-height: 100.19px;
  letter-spacing: 25%;
  color: #FFFFFF;
}

.background__text2 {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}